<%- include('general') -%>
<%- include('navbar') -%>

<div class="site-blocks-bar overlay" style="padding:80px; background-image: url('images/convention.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
</div>
<br>
<div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
  <div class="card card-plain">
    <div class="card-header" role="tab" id="headingOne">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Your Bookmarks:
        <i class="now-ui-icons arrows-1_minimal-down"></i>
      </a>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
<ol>
  <% for(i = 0; i<conventions.length; i++){  %>
  <li>
    <a href="/showConvention/<%= conventions[i]._id %>">
           <%= conventions[i].Name %>
    </a>
  </li>
  <% } %>
</ol>
      </div>
    </div>
  </div>
</div>
<%- include('bootfooter') -%>
