<%- include('bootheader') -%>
<%- include('navbar') -%>

<ol>
  <% for(i = 0; i<conventions.length; i++){  %>

  <li>
    <a href="/showConvention/<%= conventions[i]._id %>">
           <%= conventions[i].Name %>
    </a>
  </li>

  <% } %>
</ol>


<%- include('bootfooter') -%>
