<ul>
  <h4>ACCEPTED</h4>
  <% for(i = 0; i<celebrityList.length; i++){  %>
    <% if (celebrityList[i].Approval == true) { %>

      Name: <%= celebrityList[i].Name %> <br>
      Title:  <%= celebrityList[i].Title %>    <br>
      Description: <%= celebrityList[i].Description %> <br>
      Picture: <%= celebrityList[i].Picture %> <br>

    <% } %>
  <% } %>
</ul>
<hr>


<ul>
  <h4>PENDING</h4>
  <% for(i = 0; i<celebrityList.length; i++){  %>
    <% if (celebrityList[i].Approval == false) { %>

      Name: <%= celebrityList[i].Name %> <br>
      Title:  <%= celebrityList[i].Title %>    <br>
      Description: <%= celebrityList[i].Description %> <br>
      Picture: <%= celebrityList[i].Picture %> <br>

      <% if (loggedIn) { %>
        <% if (status == 'modFive' || status == 'owner' || status == 'modTwo' || status == 'modThree' || status == 'modFour') { %>
          <form method="post" action="/processApprove2" >
            <input type="hidden" name="celebid" value="<%= celebrityList[i]._id %>" >
            <input type="hidden" name="convid" value="<%= celebrityList[i].convId %>" >
            <button type="submit" name="approval">Approved</button>
          </form>
          <form method="post" action="/processDeny2" >
            <input type="hidden" name="celebid" value="<%= celebrityList[i]._id %>" >
            <input type="hidden" name="convid" value="<%= celebrityList[i].convId %>" >
            <button type="submit" name="deny">Denied</button>
          </form>
        <% } %>
      <% } %>

    <% } %>
  <% } %>
</ul>
