<ul>
  <% for(i = 0; i<celebrityList.length; i++){  %>
    <% if (celebrityList[i].Approval == true) { %>

      <li>
      Name: <%= celebrityList[i].Name %> <br>
      Description: <%= celebrityList[i].Description %> <br>
      </li>

    <% } %>

  <% } %>
</ul>
<hr>

<h4>PENDING</h4>
<ul>
  <% for(i = 0; i<celebrityList.length; i++){  %>
    <% if (celebrityList[i].Approval == false) { %>

      <li>
      Name: <%= celebrityList[i].Name %> <br>
      Description: <%= celebrityList[i].Description %> <br>

      <% if (loggedIn) { %>
        <% if (
           //status == 'modFive' || status == 'owner' ||
          modLevel(convention._id)>=0
        ) { %>
          <form method="post" action="/processApprove2"style="display:inline-block" >
            <input type="hidden" name="celebid" value="<%= celebrityList[i]._id %>" >
            <input type="hidden" name="convid" value="<%= celebrityList[i].convId %>" >
            <button type="submit"  class="btn btn-primary" name="approval">Approved</button>
          </form>
          <form method="post" action="/processDeny2"style="display:inline-block" >
            <input type="hidden" name="celebid" value="<%= celebrityList[i]._id %>" >
            <input type="hidden" name="convid" value="<%= celebrityList[i].convId %>" >
            <button type="submit"  class="btn btn-primary" name="deny">Denied</button>
          </form>
        <% } %>
      <% } %>
      </li>

    <% } %>
  <% } %>
</ul>
