<%- include('bootheader') -%>
<%- include('navbar') -%>

	    <h1><%=  convention.Name  %> </h1>
			Official Website:<a href="https://www.comic-con.org"> <%= convention.Website %> </a><br>
      From: <%= convention.From.toLocaleDateString('en-US')  %> <br>
			To:   <%= convention.To.toLocaleDateString('en-US')  %> <br>
	    Location: <%= convention.Location %><br>
      Description: <%= convention.Description %><br>
			Picture: <img src="<%= convention.Picture %>"> <br>



<%- include('bootfooter') -%>
