<%- include('general') -%>
<%- include('navbar') -%>




<div class="site-blocks-bar overlay" style="padding:80px; background-image: url('images/convention.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">

</div>
<br>


  <!-- Button trigger modal -->
  <div class="container" align = "right">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for convention.." title="Type in a name">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal44">
      Add Convention
    </button>

  </div>
  <!--search bar -->
  <!-- <div class ="container" align ="left">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." value= "ugly, needs change" title="Type in a name">
  </div> -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal44" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel44" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel44"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%- include('addConvention') -%>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
          <h2 class="mb-5">All Conventions</h2>
        </div>
      </div>



      <h3>ACCEPTED</h3>
      <div class="row">
        <% for(i = 0; i<conventions.length; i++){  %>
        <% if (conventions[i].Approval == true) { %>
          <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <a href="/showConvention/<%= conventions[i]._id %>" class="unit-9">
              <div class="image" style="background-image: url('<%= conventions[i].Picture %>'); "></div>

            <div class="unit-9-content">
              <h2><%= conventions[i].Name %></h2>
              <span><%= conventions[i].From.toLocaleDateString('en-US') %> - <%= conventions[i].To.toLocaleDateString('en-US') %></span></li>
              <span><%= conventions[i].Location%></span>
            </div>
          </a>
          </div>
        <% } %>
        <% } %>
      </div><br><br>

        <h3>PENDING</h3>
        <div class="row">
        <% for(i = 0; i<conventions.length; i++){  %>
        <% if (conventions[i].Approval == false) { %>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <a href="/showConvention/<%= conventions[i]._id %>" class="unit-9">
            <div class="image" style="background-image: url('<%= conventions[i].Picture %>'); "></div>
            <div class="unit-9-content">
              <h2><%= conventions[i].Name %></h2>
              <span><%= conventions[i].From.toLocaleDateString('en-US') %> - <%= conventions[i].To.toLocaleDateString('en-US') %></span>
              <span><%= conventions[i].Location%></span>
            </div>
          </a>
        </div>
        <% } %>
        <% } %>
      </div>

    </div>
  </div>


<!-- search bar start -->
  <script>
  function myFunction() {
      var input, filter, divs, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      divs = document.getElementsByClassName("col-md-6 col-lg-3");
      for (i = 0; i < divs.length; i++) {
          contents = divs[i].getElementsByClassName("unit-9-content")
          txtValue = contents[0].innerText
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              divs[i].style.display = "";
          } else {
              divs[i].style.display = "none";
          }
      }
  }
  </script>
<!-- search bar end -->

<%- include('bootfooter') -%>
