<%- include('bootheader') -%>
<%- include('navbar') -%>

	    <h1><%=  convention.Name  %> </h1>
      Date: <%= convention.Date.toLocaleDateString('en-US')  %> <br>
	    Location: <%= convention.Location %><br>
      Description: <%= convention.Description %><br>
			Picture: <img src="<%= convention.Picture %>"> <br>


<%- include('bootfooter') -%>
