<%- include('general') -%>
<%- include('navbar') -%>




<div class="site-blocks-bar overlay" style="padding:80px; background-image: url('images/convention.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">

</div>
<br><br><br>


  <!-- Button trigger modal -->
  <div class="container" align = "right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal44">
    Add Convention
  </button>

  </div>
  <!--search bar -->
  <!-- <div class ="container" align ="left">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." value= "ugly, needs change" title="Type in a name">
  </div> -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal44" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel44" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel44"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%- include('addConvention') -%>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div class="container">
    <ul id="myUL">
      <h3>PENDING</h3>
      <% for(i = 0; i<conventions.length; i++){  %>
        <% if (conventions[i].Approval == false) { %>
          <a href="/showConvention/<%= conventions[i]._id %>">
          <div class="section section-team text-center">
          <div class="container">
          <div class="team">
          <div class="row">
          <div class="col-md-5">
          <div class="team-player">
          <img src= <%= conventions[i].Picture %> alt="Thumbnail Image" class= "thumbImg">
          <h4 class="title"><%= conventions[i].Name %></h4>
          <p class="category text-primary"><%= conventions[i].Location%> </p>
          <p class="category text-primary"><%= conventions[i].From %> -<%= conventions[i].To %></p>
          <p class="description1"><%= conventions[i].Description %></p>
          <a href="https://twitter.com/Comic_Con?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
          <a href="#https://www.instagram.com/comic_con/?hl=en" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
          </div>
          </div>
          </div>
          </div>
          </div>
          <br>

          <% } %>
          <% } %>
        </ul>
      </div>
      <div class="container">
        <ul id="myUL">
          <h3>ACCEPTED</h3>
          <% for(i = 0; i<conventions.length; i++){  %>
            <% if (conventions[i].Approval == true) { %>
               <a href="/showConvention/<%= conventions[i]._id %>">
              <div class="section section-team text-center">
              <div class="container">
              <div class="team">
              <div class="row">
              <div class="col-md-5">
              <div class="team-player">
              <img src= <%= conventions[i].Picture %> alt="Thumbnail Image" class= "thumbImg">
              <h4 class="title"><%= conventions[i].Name %></h4>
              <p class="category text-primary"><%= conventions[i].Location%> </p>
              <p class="category text-primary"><%= conventions[i].From %> -<%= conventions[i].To %></p>
              <p class="description1"><%= conventions[i].Description %></p>
              <a href="https://twitter.com/Comic_Con?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
              <a href="#https://www.instagram.com/comic_con/?hl=en" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
              </div>
              </div>
              </div>
              </div>
              </div>
              <br>
              <% } %>
              <% } %>
            </ul>
          </div>

          <div>
          </div>
          <script>
          function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName("a")[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
              } else {
                li[i].style.display = "none";
              }
            }
          }
          </script>

        </body>
        </html>

        <%- include('bootfooter') -%>
