<%- include('general') -%>
<%- include('navbar') -%>


<div class="site-blocks-bar overlay" style="padding:65px; background-image: url('/images/convention.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
</div>

<div class="text-center">
  <br>
  <font color="white"><h1 class="title"><%=  convention.Name  %></h1></font>
  <h5><span class="badge badge-warning"><%= convention.Badges %></span></h5>
  <a class="btn btn-success" href="<%=convention.Website%>" role="button">Official Website</a>
  <a class="btn btn-primary" href="<%=convention.Facebookgroup%>" role="button">Facebook Group</a>
</div>
<br>

  <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <div class="card card-plain">
      <% if (loggedIn) { %>
        <% if (status == 'modFive' || status == 'owner') { %>
          <div>
          <form method="post" action="/processApprove" style="display:inline-block">
              <input type="hidden" name="convid" value="<%= convention._id %>" >
          <button type="submit" class="btn btn-primary" name="Approval">Approved</button>
          </form>
          <form method="post" action="/processDeny/" style="display:inline-block">
              <input type="hidden" name="convid" value="<%= convention._id %>" >
          <button type="submit" class="btn btn-primary" name="Denial">Denied</button>
          </form>
          <a href="/editConvention/<%= convention._id %>" class="btn btn-primary" role="button" aria-pressed="true" style="display:inline-block">Edit</a>
          </div>
          <% } %>
        <% } %>


      <div class="card" role="tab" id="headingOne">

        <a data-toggle="collapse" data-parent="card" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          General Information:
          <i class="now-ui-icons arrows-1_minimal-down"></i>
        </a>
      </div>

      <!-- Change  -->
      <div id="collapseOne" class="card-body" role="tabpanel" aria-labelledby="headingOne">

          <!-- Follow Button -->
            <% if (user.followCon.includes(convention._id)) {%>
              <div>
              <form method="post" action="/processUnfollowCon" >
          			<input type="hidden" name="convid" value="<%= convention._id %>">
                <button type="submit" class="btn btn-primary" name="unfollowCon">Unfollow</button>
              </form>
              </div>
            <% } else { %>
              <div>
              <form method="post" action="/processFollowCon" >
          			<input type="hidden" name="convid" value="<%= convention._id %>">
                <button type="submit" class="btn btn-primary" name="followCon">Follow</button>
              </form>
              </div>
            <% } %>
            <!-- end -->

          <h3> <center> Dates: <%= convention.From.toLocaleDateString('en-US')  %> to <%= convention.To.toLocaleDateString('en-US')  %> </center>  </h3>
        <h4> Location: <%= convention.Location %> </h4>
      <h6>   Description: <%= convention.Description %><br> <h6>
          Schedule of Events: <br><%= convention.Schedule %><br><br>

        </div>

        <h2>Celebrities</h2>
        <!-- Button trigger modal -->
        <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal21">
          Add Celebrity
        </button>
        </div>

        <!-- Modal -->

        <div class="modal fade" id="exampleModal21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel21" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel21">Celebrity</h5>
                <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div>
              </div>
              <div class="modal-body">
                <%- include('celebrity') -%>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <%- include('celebrityList') -%>
        <h2>Vendors</h2>
        <!-- Button trigger modal -->
        <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal13">
          Add Vendors
        </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel13" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel13">Vendor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%- include('vendor') -%>
              </div>
            </div>
          </div>
        </div>

        <%- include('vendorList') -%>
        <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal23">
          Request to be a Moderator
        </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal23" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel23" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel23">Moderator Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%- include('requestMod') -%>
              </div>
            </div>
          </div>
        </div>
        <%- include('modList') -%>
        <h4>Pending</h4>
        <% if (loggedIn) { %>
          <% if (status == 'modFive' || status == 'owner' || status == 'modTwo' || status == 'modThree' || status == 'modFour') { %>
              <%- include('pendingmodList') -%>
              <% } %>
            <% } %>
      </div>
    </div>
    <div class="card card-plain">
      <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Hotels and Flights
          <i class="now-ui-icons arrows-1_minimal-down"></i>
        </a>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
          <%- include('cheapoair') -%>
        </div>
      </div>
    </div>
    <div class="card card-plain">
      <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Map

          <i class="now-ui-icons arrows-1_minimal-down"></i>
        </a>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <%- include('mapapi') -%>
        </div>
      </div>
    </div>
    <div class="card card-plain">

    </div>

  </div>
</div>

<br><br>
<%- include('bootfooter') -%>
