<style> h1 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} </style>

<%- include('bootheader') -%>
<%- include('navbar') -%>

<div class="wrapper">
  <a href="/editConvention/<%= convention._id %>" class="btn btn-primary" role="button" aria-pressed="true">edit</a>
	<div class="page-header page-header-small">
		<div class="page-header-image" data-parallax="true" style="background-image: url('<%= convention.Picture %>');">
		</div>
		<div class="content-center">
			<div class="container">
				<h1 class="title"><%=  convention.Name  %></h1>
				<div class="text-center">
					<a class="btn btn-success" href="<%=convention.Website%>" role="button">Official Website</a>
					<a class="btn btn-primary" href="<%=convention.Facebookgroup%>" role="button">Facebook Group</a>
				</div>
			</div>
		</div>
	</div>

<div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
  <div class="card card-plain">
    <div class="card-header" role="tab" id="headingOne">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          General Information:

      <i class="now-ui-icons arrows-1_minimal-down"></i>
        </a>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">


				<br><br>
				From: <%= convention.From  %> <br>
				To:   <%= convention.To  %> <br>
				Location: <%= convention.Location %><br>
				Description: <%= convention.Description %><br>
				Special Guest: <%= convention.Guest %><br>
				Schedule of Events: <br><%= convention.Schedule %><br><br>


      </div>
			<h2>Moderators</h2>
			  
			<div>

				    <form method="post" action="/processRequest/<%= convention._id %>">
							Hey <%= user.googlename %>, explain
				      why you're qualified: <br> <textarea name="m_reason"></textarea><br>
				      <br>
				      <input class="btn btn-lg btn-warning" type="submit">
				    </form>
			</div>
    </div>
  </div>
  <div class="card card-plain">
    <div class="card-header" role="tab" id="headingTwo">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

        <i class="now-ui-icons arrows-1_minimal-down"></i>
        </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="card card-plain">
    <div class="card-header" role="tab" id="headingThree">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Map

      <i class="now-ui-icons arrows-1_minimal-down"></i>
      </a>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-body">
        <%- include('mapapi') -%>
      </div>
    </div>
  </div>
  <% if (user.m_status == true){ %>
    <a href="#" class="btn btn-primary" role="button" aria-pressed="true">edit</a>
  <% } %>
</div>
</div>
<%- include('bootfooter') -%>
