<%- include('bootheader') -%>
<%- include('navbar') -%>

	    <h1><%=  convention.Name  %> </h1>

			<a class="btn btn-success" href="<%=convention.Website%>" role="button">Official Website</a>
			<a class="btn btn-primary" href="<%=convention.Facebookgroup%>" role="button">Facebook Group</a>
			<br><br>
			From: <%= convention.From.toLocaleDateString('en-US')  %> <br>
			To:   <%= convention.To.toLocaleDateString('en-US')  %> <br>
	    Location: <%= convention.Location %><br>
      Description: <%= convention.Description %><br>
			Schedule of Events: <br><%= convention.Schedule %><br><br>
			<img src="<%= convention.Picture %>"> <br>



<%- include('bootfooter') -%>
