<%- include('bootheader') -%>
<%- include('navbar') -%>
<ol>
  <% for(i = 0; i<conventions.length; i++){  %>
    <li> <a href="/showConvention/<%= conventions[i]._id %>">
      <%= conventions[i].Name %></a>
      <i>
      <%= conventions[i].From.toLocaleDateString('en-US') %>
      <%= conventions[i].To.toLocaleDateString('en-US') %>
      <%= conventions[i].Location %>
      </\/i>
    </li>
  <% } %>
</ol>
<%- include('bootfooter') -%>
