<%- include('bootheader') -%>
<%- include('navbar') -%>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit Convention</h5>
    <form method="post" action="/editConvention">
      Name: <br><input type="text" placeholder="<%=  convention.Name  %>" value="<%=  convention.Name  %>" name="Name"> <br><br>
      Website: <br><input type="text" placeholder="<%=convention.Website%>" value="<%=convention.Website%>" name="Website"> <br><br>
      Facebookgroup: <br><input type="text" placeholder="<%=convention.Facebookgroup%>" value="<%=convention.Facebookgroup%>" name="Facebookgroup"> <br><br>
      From: <br><input type="date" placeholder="<%= convention.From%>" value="<%= convention.From%>" name="From"> <br><br>
      To: <br><input type="date" placeholder="<%= convention.To %>" value="<%= convention.To %>" name="To"> <br><br>
      Location: <br><input type="text" placeholder="<%= convention.Location %>" value="<%= convention.Location %>" name="Location"> <br><br>
      Description: <br><input type="text" placeholder="<%= convention.Description %>" value="<%= convention.Description %>" name="Description"> <br><br>
      Special Guests: <br><input type="text" placeholder="<%= convention.Guest %>" value="<%= convention.Guest %>" name="Guest"><br><br>
      Schedule:<br><input type="text" placeholder="<%= convention.Schedule %>" value="<%= convention.Schedule %>" name="Schedule"> <br><br>
      Picture: <br><input type="text" name="Picture" placeholder="<%= convention.Picture %>" value="<%= convention.Picture %>" class="img-fluid" alt="Responsive image">
      Badges: <br><br><div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Needs Deleted" name="Badges">
        <label class="form-check-label" for="inlineCheckbox1">Needs Deleted</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Needs Updated" name="Badges">
        <label class="form-check-label" for="inlineCheckbox2">Needs Updated</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Updated" name="Badges">
        <label class="form-check-label" for="inlineCheckbox3">Updated</label>
      </div>
      <br><br>

      <input type="submit">
    </form>
  </div>
</div>
<br><br><br>

<%- include('bootfooter') -%>
