<!DOCTYPE html>
<html>
  <head>
    <title><%= Team 3 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1><%= Team 3 %></h1>
    <p>Welcome to Team 3 Project <%= title %></p>
    Daniel Monroy <br>
=======
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     Taylor Simala <br>
>>>>>>> 220960ee23bca226e41fb69df40ed39eb74f7410
  </body>
</html>
