
    <ol>
    <% for(i = 0; i< modLists.length; i++){  %>
          <li>
                UserId: <%= modLists[i].userId%> <br>
                UserEmail:  <%= modLists[i].m_email %>    <br>
                Convention: <%= modLists[i].m_convName %> <br>
                Reasons: <%= modLists[i].m_reason %> <br>
                SubmitAt: <%= modLists[i].m_createdAt %> <br>
          </li>
      <% } %>
      </ol>
