
<ul>
  <% for(i = 0; i< modLists.length; i++){  %>
    <% if (modLists[i].m_level!=0) { %>
      <li>
        User: <%= modLists[i].userId%> <br>
        UserEmail:  <%= modLists[i].m_email %> <br>
        Reasons: <%= modLists[i].m_reason %> <br>
        SubmitAt: <%= modLists[i].m_createdAt.toLocaleDateString('en-US') %> <br>
        Level:  <%= modLists[i].m_level %> <br>
      </li>
    <% } %>
  <% } %>
</ul>
