
    <ol>
    <% for(i = 0; i< modLists.length; i++){  %>
      <% if (modLists[i].m_level==0) { %>
          <li>
                UserId: <%= modLists[i].userId%> <br>
                UserEmail:  <%= modLists[i].m_email %>    <br>
                Convention: <%= modLists[i].m_convName %> <br>
                Reasons: <%= modLists[i].m_reason %> <br>
                SubmitAt: <%= modLists[i].m_createdAt %> <br>

                <form method="post" action="/processLevel0/<%= convention._id %>" >
                    <input type="hidden" name="modid" value="<%= modLists[i].userId %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" name="approval">Denied</button>
                </form>
                <form method="post" action="/processLevel1/<%= convention._id %>" >
                    <input type="hidden" name="modid" value="<%= modLists[i].userId %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" name="deny">Level 1</button>
                </form>
                <form method="post" action="/processLevel2/<%= convention._id %>" >
                    <input type="hidden" name="modid" value="<%= modLists[i].userId %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" name="approval">Level 2</button>
                </form>
                <form method="post" action="/processLevel3/<%= convention._id %>" >
                    <input type="hidden" name="modid" value="<%= modLists[i].userId %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" name="deny">Level 3</button>
                </form>
                <form method="post" action="/processLevel4/<%= convention._id %>" >
                    <input type="hidden" name="modid" value="<%= modLists[i].userId %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" name="approval">Level 4</button>
                </form>
                <form method="post" action="/processLevel5/<%= convention._id %>" >
                    <input type="hidden" name="modid" value="<%= modLists[i].userId %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" name="approval">Level 5</button>
                </form>
          </li>
          <% } %>
      <% } %>
      </ol>
