
    <ol>
    <% for(i = 0; i< modLists.length; i++){  %>
      <% if (modLists[i].m_level==0) { %>
          <li>
                Name: <%= modLists[i].googlename%> <br>
                UserEmail:  <%= modLists[i].googleemail %>    <br>
                Reasons: <%= modLists[i].m_reason %> <br>
                SubmitAt: <%= modLists[i].m_createdAt.toLocaleDateString('en-US') %> <br>
                Level:  <%= modLists[i].m_level %> <br>

                <form method="post" action="/processLevel0"style="display:inline-block">
                    <input type="hidden" name="modid" value="<%= modLists[i]._id %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" class="btn btn-primary" name="deny">Denied</button>
                </form>
                <form method="post" action="/processLevel1" style="display:inline-block">
                    <input type="hidden" name="modid" value="<%= modLists[i]._id %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" class="btn btn-primary" name="approval">Level 1</button>
                </form>
                <form method="post" action="/processLevel2" style="display:inline-block">
                    <input type="hidden" name="modid" value="<%= modLists[i]._id %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" class="btn btn-primary" name="approval">Level 2</button>
                </form>
                <form method="post" action="/processLevel3" style="display:inline-block">
                    <input type="hidden" name="modid" value="<%= modLists[i]._id %>" >
                    <input type="hidden" name="convid" value="<%= modLists[i].m_convId %>" >
                <button type="submit" class="btn btn-primary" name="approval">Level 3</button>
                </form>
          </li>
          <% } %>
      <% } %>
      </ol>
