<html <%- include('navbar') -%>>

<div class="container">
<div class="row">
      <div class="col-md-12 text-center ">
        <div class="panel panel-default">
          <div class="userprofile social ">
            <div class="userpic"> <img src="<%= user.profilePicURL%>" alt="" class="userpicimg"> </div>
            <h3 class="username"><%= user.userName %></h3>
            <p><%= user.bio %></p>
            <div class="socials tex-center"> <a href="" class="btn btn-circle btn-primary ">
            <i class="fa fa-facebook"></i></a> <a href="<%= user.facebookURL%>" class="btn btn-circle btn-danger ">
            <i class="fa fa-twitter"></i></a> <a href="<%= user.twitterURL%>" class="btn btn-circle btn-warning "><i class="fa fa-envelope"></i></a>
            </div>
          </div>
          <div class="col-md-12 border-top border-bottom">
            <ul class="nav nav-pills pull-left countlist" role="tablist">
              <li role="presentation">
                <h3><%= user.followers%><br>
                  <small>Follower</small> </h3>
              </li>
              <li role="presentation">
                <h3><%= user.following%><br>
                  <small>Following</small> </h3>
              </li>
            </ul>
            <button class="btn btn-primary followbtn">Follow</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

</html <%- include('bootfooter') -%> >
