<html <%- include('navbar') -%>>

<div class="container">
<div class="row">
      <div class="col-md-12 text-center ">
        <div class="panel panel-default">
          <div class="userprofile social ">
            <div class="userpic"> <img src="<%= user.profilePicURL%>" alt="" class="userpicimg"> </div>
            <h3 class="username"><%= user.googlename %></h3>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
   <div class="card card-plain">
     <div class="card-header" role="tab" id="headingOne">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Bookmarked Conventions

       <i class="now-ui-icons arrows-1_minimal-down"></i>
         </a>
     </div>

     <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
       <div class="card-body">
        <%= user.bookmarks%> <!-- I have to make a for loop that posts all their posts -->
       </div>
     </div>
   </div>

 </div>
  </div>

</html <%- include('bootfooter') -%> >
