<%- include('bootheader') -%>
<%- include('navbar') -%>

<div class="jumbotron masthead text-center" id="">
  <h1>Questions</h1>
  <br>
  <a class="btn btn-primary" href="/postQuestion">
    <span>Post A New Question</span>
  </a>
</div>
<div class="container">

  <div class="row">

    <div class="col">
      <% for (i = 0; i<questions.length; i++){  %>
      <div class="card"  id="showQuestions">
        <div class="card-body">
            <a class = "lead" href="/showQuestion/<%=questions[i]._id%>"><%= questions[i].question %></a>
            <br><br>
            <h6>By <%=questions[i].userName%></h6>
            <h6><%=questions[i].createdAt%></h6>
        </div>
      </div>
      <br>
      <% } %>
    </div>

  </div>

</div>
