<ol>
<% for(i = 0; i< vendorList.length; i++){  %>
      <li>
            Name: <%= vendorList[i].Name%> <br>
            Website:  <%= vendorList[i].Website %>    <br>
            Booth: <%= vendorList[i].Booth %> <br>
            Description: <%= vendorList[i].Description %> <br>
            Picture: <%= vendorList[i].Picture %> <br>
      </li>
  <% } %>
  </ol>
