<ul>
  <% for(i = 0; i<vendorList.length; i++){  %>
    <% if (vendorList[i].Approval == true) { %>

      <li>
      Name: <%= vendorList[i].Name%> <br>
      Website: <%= vendorList[i].Website %> <br>
      Booth: <%= vendorList[i].Booth %> <br>
      Description: <%= vendorList[i].Description %> <br>
      </li>

    <% } %>
  <% } %>
</ul>
<hr>


<h4>PENDING</h4>
<ul>
  <% for(i = 0; i<vendorList.length; i++){  %>
    <% if (vendorList[i].Approval == false) { %>

      <li>
      Name: <%= vendorList[i].Name%> <br>
      Website: <%= vendorList[i].Website %> <br>
      Booth: <%= vendorList[i].Booth %> <br>
      Description: <%= vendorList[i].Description %> <br>

      <% if (loggedIn) { %>
        <% if (status == 'modFive' || status == 'owner') { %>
          <form method="post" action="/processApprove3" style="display:inline-block" >
            <input type="hidden" name="vendorid" value="<%= vendorList[i]._id %>" >
            <input type="hidden" name="convid" value="<%= vendorList[i].convId %>" >
            <button type="submit"  class="btn btn-primary" name="approval">Approved</button>
          </form>
          <form method="post" action="/processDeny3" style="display:inline-block" >
            <input type="hidden" name="vendorid" value="<%= vendorList[i]._id %>" >
            <input type="hidden" name="convid" value="<%= vendorList[i].convId %>" >
            <button type="submit"  class="btn btn-primary" name="deny">Denied</button>
          </form>
        <% } %>
      <% } %>
      </li>

    <% } %>
  <% } %>
</ul>
